<div class="abc">
        <ul>
        <h1 class="red">A N D R E S A N C I A N G C O</h1>
        <br>
        <h3><a class="red" href="https://www.youtube.com/watch?v=Hipi8PqnUAg">peep my mixtape</a> 
        <h3><a class="red" href="https://www.instagram.com/andre.sanciangco/">follow me</a></h2>
        <h3><a class="red" href="https://to-do-list-andresanciangco.c9users.io/andre.html">just a few things . . .</a></h3>
    <ul class="white" style="list-style:none"> 
  <% @todos.each do |todo| %>
    <li>
        <input type="checkbox" name=""/>
        <a href="todo/show/<%= todo.id %>"><%= todo.description %>
        <span class="pomodoro-estimate small-pomodoro-estiate"><%= todo.pomodoro_estimate %></span>
        </a>
    </li>
    
  <% end %>
  
<div id="new-todo-block">
    <a href="/todo/new" class="button add-new-todo-buton" id="add-new-todo-button">Add a todo</a>
</div>

</ul>

</div>