        <h1 class="red">A N D R E S A N C I A N G C O</h1>
        <br>
        <h3><a class="red" href="https://www.youtube.com/watch?v=Hipi8PqnUAg">peep my mixtape</a> 
        <h3><a class="red" href="https://www.instagram.com/andre.sanciangco/">follow me</a></h2>
        <h3><a class="red" href="https://to-do-list-andresanciangco.c9users.io/andre.html">just a few things . . .</a></h3>
        <ul class="white" style="list-style:none"> 
